<footer>

    <details>
        <summary>Creative Commons.</summary>
        <p>Many thanks go to Sandrine Nugue who created the Infini typeface used in this document as part of a public commission by the <a href="http://www.cnap.fr/">Centre national des arts plastiques</a>. <a href="http://cnap.graphismeenfrance.fr/infini/en/information">The font story.</a></p>
        <p>All additional content and graphics on this web site are the creation of Gabiskandar.</p>
    </details>
              
</footer>