

@media (min-width: 767px) {
    #about-airi strong {
        font-size: 2.25em;
    }
    
    #about-airi h3 {
        font-size: 1.2em;
    }
}

@media (min-width: 1024px) {

    #about-airi strong {
        font-size: 2.618em;
    }
}