/**
 * main.css
 * Project: Aether
 * Airi Ink
 */

main {
    background-color: var(--inverted-background-color);
    height: auto;
    width: 100%;
    z-index: 1;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
}

section.invert {
    background-color: var(--inverted-background-color);
    color: var(--inverted-text-color);
    min-height: 100vh;
    padding: 3em 3em 3em 7em;
    position: sticky;
    top: 0;
}

.ligatures-on {
    font-weight: 400;
    text-transform: uppercase;
}

section p {
    text-align: right;
}