/**
 * nav.css
 * Project: Aether
 * Airi Ink
 */

body > nav {
    display: inline;
    height: 3rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vh;
    z-index: 2;
}

nav > ul {
    color: var(--primary-highlight-color);
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    font-size: 1.2em;
    height: 3rem;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    list-style: none;
    text-transform: lowercase;
}

/* rotate nav */

nav > ul {
    transform: rotate(-90deg) translate(-0%, calc(-100vh - 1rem));
    transform-origin: top right;
    width: 100vh;
}