/**
 * footer.css
 * Project: Aether
 * Airi Ink
 */

footer {
    background-color: var(--inverted-text-color);
    box-sizing: border-box;
    height: 100vh;
    padding: 10em;
    position: absolute;
    top: 300vh;
    width: 100%;
}

footer details {
    cursor: pointer;
    display: block;
    margin-top: 1rem;
    position: sticky;
    top: calc(50vh - 1em);
}