/**
 * main.css
 * Project: Aether
 * Airi Ink
 */

main {
    height: auto;
    position: relative;
    width: 100%;
    z-index: 1;
}

main > * {
    flex: 0 0 auto;
    height: 150vh;
}

section > div {
    height: calc(100vh - 6em);
    padding: 3em 3em 3em 7em;
    position: sticky;
    top: 0;
    z-index: 1;
}

section.center div {
    align-items: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;   
}

section.pull {
    background-color: transparent;
}

section.pull,
section.drop {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: unset;
    position: relative;
}

section.drop {
    background-image: var(--brand-gradient);
}

section.light {
    background-color: rgba(255,255,255,1);
    background-color: var(--neutral-color-light96);
    color: rgba(16,13,32,1);
    color: var(--neutral-brand-color);
}

section.invert {
    background-color: black;
    color: rgba(255,255,255,1);
    color: var(--light-color);
}

.ligatures-on {
    font-weight: 400;
    text-transform: uppercase;
}

section p {
    text-align: right;
}