/**
 * base.css
 * Project: Aether
 * Airi Ink
 */

:root {
    --light-color: rgba(255,255,255,1);
    --key-color: rgba(10,10,12,1);
    --warm-brand-color: rgba(255,38,0,1);
    --warm-color-light60: rgba(255,82,51,1);
    --warm-color-light90: rgba(255,212,204,1);
    --cool-brand-color: rgba(38,0,255,1);
    --cool-color-light60: rgba(82,51,255,1);
    --cool-color-light70: rgba(125,102,255,1);
    --cool-color-light90: rgba(212,204,255,1);
    --neutral-brand-color: rgba(16,13,32,1);
    --neutral-color-light60: rgba(40,35,67,1);
    --neutral-color-light80: rgba(196,193,215,1);
    --neutral-color-light96: rgba(243,243,247,1);
}

html {
    font-size: 12px;
}

body {
    background-color: rgba(255,255,255,1);
    background-color: var(--neutral-color-light96);
    color: rgba(16,13,32,1);
    color: var(--neutral-brand-color);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-feature-settings: "liga" on;
    font-style: normal;
    font-variant-ligatures: common-ligatures;
    font-weight: 400;
    line-height: 1.45;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: grayscale;

    /* w3C */
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1, "dlig" 1;

    /* prefixes */
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga" 1, "dlig" 1;
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga" 1, "dlig" 1;
    -o-font-feature-settings: "liga" 1, "dlig" 1;
}

/* Small screens typography scale Perfect Fourth */

    h1, h2, h3, h4 {
        margin: 1.414em 0 0.5em;
        font-weight: inherit;
        line-height: 1.2;
      }
      
      h1 {
        font-size: 3.157em;
      }
      
      h2 {font-size: 2.369em;}
      
      h3 {font-size: 1.777em;}
      
      h4 {font-size: 1.333em;}
      
      small, .font_small {font-size: 0.75em;}

@media (min-width: 480px) {
    /* Small-Med screens typograhy scale Augmented Fourth */

    p {margin-bottom: 1.3em;}

    h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    }

    h1 {
    font-size: 3.998em;
    }

    h2 {font-size: 2.827em;}

    h3 {font-size: 1.999em;}

    h4 {font-size: 1.414em;}

    small, .font_small {font-size: 0.707em;}
}

@media (min-width: 767px) {
    /* Med-Large screens typography scale Perfect Fifth */

    p {margin-bottom: 1.3em;}

    h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    }

    h1 {
    font-size: 5.063em;
    }

    h2 {font-size: 3.375em;}

    h3 {font-size: 2.25em;}

    h4 {font-size: 1.5em;}

    small, .font_small {font-size: 0.667em;}
}

@media (min-width: 1024px) {
    /* Large screens typography scale Golden Ratio */

    h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    }

    h1 {
    margin-top: 0;
    font-size: 6.854em;
    }

    h2 {font-size: 4.236em;}

    h3 {font-size: 2.618em;}

    h4 {font-size: 1.618em;}

    small, .font_small {font-size: 0.618em;}

}

blockquote {
    color: var(--primary-highlight-color);
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 2em 2em 2em 0;
}

blockquote span {
    font-size: 1em;
    text-transform: none;
}