{% extends "layouts/default.html" %}

{% block content %}
<main role="main">
    <section class="center">
        <div>
            <h1>Airi ink</h1>
        </div>
    </section>
    <section class="pull">
        <svg class="airi-hand" width="20.8vw" height="100%" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#airi-hand" href="#airi-hand" />
        </svg>

        <svg class="airi-top-crease svg-vgradientdown" width="100%" height="100%" viewBox="0 0 1600 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
            <g id="top" transform="matrix(0.928609,0,0,1,0,0)">
                <rect x="0" y="0" width="1723.01" height="120" style="fill:none;"/>
                <g id="top-crease" class="svg-vgradientdown" transform="matrix(2.08952,0,4.87453e-05,0.8215,-42504.6,-2368.51)">
                    <path d="M21198,3008C21198,3008 21098.4,2986.87 21038.5,2883.15C20911.2,3049.1 20310,3008 20310,3008L20310,3029.22L21198,3029.22L21198,3008Z" />
                </g>
            </g>
            <defs>
                <linearGradient id="gradient-vertical-down" x2="0" y2="1">
                    <stop offset="0%" stop-color="var(--color-stop-1)" />
                    <stop offset="70%" stop-color="var(--color-stop-2)" />
                    <stop offset="100%" stop-color="var(--color-stop-3)" />
                </linearGradient>
                <linearGradient id="gradient-vertical-up" x2="0" y2="1">
                    <stop offset="0%" stop-color="var(--color-stop-1)" />
                    <stop offset="70%" stop-color="var(--color-stop-2)" />
                    <stop offset="100%" stop-color="var(--color-stop-3)" />
                </linearGradient>
            </defs>
        </svg>
    </section>
    <section class="invert">
        <div>
            <p>I believe in creativity.</p>
            <blockquote>"I have no special talents. I am only passionately curious." <span>- Albert Einstein</span></blockquote>
        </div>
    </section>
    <section class="drop">
        <svg class="airi-bottom-crease svg-vgradientup" width="100%" height="100%" viewBox="0 0 1600 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
            <g transform="matrix(1,0,0,1,-1789,0)">
                <g id="bottom" transform="matrix(1,0,0,1,-0.673464,0)">
                    <rect x="1789.67" y="0" width="1723.01" height="120" style="fill:none;"/>
                    <g id="bottom-crease" class="svg-vgradientup" transform="matrix(1.94035,0,4.52653e-05,0.8215,-37680.6,-3660.37)">
                        <path d="M21198,4455.72L20310,4455.72C20310,4455.72 20326.4,4489.17 20340.4,4507.18C20364.1,4537.78 20498.8,4501.43 20559.3,4601.8C20675.5,4487.84 20971.5,4503.09 21107.2,4494.06C21165,4490.21 21198,4455.72 21198,4455.72Z"/>
                    </g>
                </g>
            </g>
            <defs>
                <linearGradient id="gradient-vertical-down" x2="0" y2="1">
                    <stop offset="0%" stop-color="var(--color-stop-1)" />
                    <stop offset="70%" stop-color="var(--color-stop-2)" />
                    <stop offset="100%" stop-color="var(--color-stop-3)" />
                </linearGradient>
                <linearGradient id="gradient-vertical-up" x2="0" y2="1">
                    <stop offset="0%" stop-color="var(--color-stop-1)" />
                    <stop offset="70%" stop-color="var(--color-stop-2)" />
                    <stop offset="100%" stop-color="var(--color-stop-3)" />
                </linearGradient>
            </defs>
        </svg>
    </section>
</main>
{% endblock %}